extends ../../layouts/page/analytics
block controllers
	script(src='/controllers/analytics/deletepersonaController.js')
	
block content
	.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
		div(data-ng-controller="deletepersonaController")
			.row.placeholders
				.col-xs-12.col-sm-12.placeholder
					.col-xs-6.col-sm-6.placeholder
						h2 Delete Persona
						#deletepersona
							ul
								li
									span(ng-click="getLineChartData('day','deletePersona','deletepersona')") 1D
								li
									span(ng-click="getLineChartData('week','deletePersona','deletepersona')")  1W
								li
									span(ng-click="getLineChartData('month','deletePersona','deletepersona')")  1M
								li
									span(ng-click="getLineChartData('sixmonths','deletePersona','deletepersona')")  6M
								li
									span(ng-click="getLineChartData('year','deletePersona','deletepersona')")  1Y
								li
									span(ng-click="getLineChartData('Max','deletePersona','deletepersona')")  Max
							svg(style='height: 380px;')
				.col-xs-6.col-sm-6.placeholder
					h4 User Location
					#map
				.col-xs-6.col-sm-6.placeholder
					h4 User Devices
					.col-xs-6.col-sm-6.placeholder
						h5 Devices
						svg#deviceChart
					.col-xs-6.col-sm-6.placeholder
						h5 Browsers
						svg#browserChart
						
				.col-xs-12.col-sm-12.placeholder
					.col-xs-3.col-sm-3.placeholder
						h4 Delete Connections
						#deleteconnections
							ul
								li
									span(ng-click="getLineChartData('day','DeletePersona_DeleteConnections','deleteconnections')") 1D
								li
									span(ng-click="getLineChartData('week','DeletePersona_DeleteConnections','deleteconnections')")  1W
								li
									span(ng-click="getLineChartData('month','DeletePersona_DeleteConnections','deleteconnections')")  1M
								li
									span(ng-click="getLineChartData('sixmonths','DeletePersona_DeleteConnections','deleteconnections')")  6M
								li
									span(ng-click="getLineChartData('year','DeletePersona_DeleteConnections','deleteconnections')")  1Y
								li
									span(ng-click="getLineChartData('Max','DeletePersona_DeleteConnections','deleteconnections')")  Max
							svg(style='height: 380px;')
					.col-xs-3.col-sm-3.placeholder
						h4 Assign Different Persona
						#assigndifferentpersona
							ul
								li
									span(ng-click="getLineChartData('day','DeletePersona_AssignDiffPersona','assigndifferentpersona')") 1D
								li
									span(ng-click="getLineChartData('week','DeletePersona_AssignDiffPersona','assigndifferentpersona')")  1W
								li
									span(ng-click="getLineChartData('month','DeletePersona_AssignDiffPersona','assigndifferentpersona')")  1M
								li
									span(ng-click="getLineChartData('sixmonths','DeletePersona_AssignDiffPersona','assigndifferentpersona')")  6M
								li
									span(ng-click="getLineChartData('year','DeletePersona_AssignDiffPersona','assigndifferentpersona')")  1Y
								li
									span(ng-click="getLineChartData('Max','DeletePersona_AssignDiffPersona','assigndifferentpersona')")  Max
							svg(style='height: 380px;')
					.col-xs-3.col-sm-3.placeholder
						h4 Manual Selection
						#manualselection
							ul
								li
									span(ng-click="getLineChartData('day','DeletePersona_ManualSelection','manualselection')") 1D
								li
									span(ng-click="getLineChartData('week','DeletePersona_ManualSelection','manualselection')")  1W
								li
									span(ng-click="getLineChartData('month','DeletePersona_ManualSelection','manualselection')")  1M
								li
									span(ng-click="getLineChartData('sixmonths','DeletePersona_ManualSelection','manualselection')")  6M
								li
									span(ng-click="getLineChartData('year','DeletePersona_ManualSelection','manualselection')")  1Y
								li
									span(ng-click="getLineChartData('Max','DeletePersona_ManualSelection','manualselection')")  Max
							svg(style='height: 380px;')
					.col-xs-3.col-sm-3.placeholder
						h4 Cancel Delete
						#canceldelete
							ul
								li
									span(ng-click="getLineChartData('day','DeletePersona_CancelDelete','canceldelete')") 1D
								li
									span(ng-click="getLineChartData('week','DeletePersona_CancelDelete','canceldelete')")  1W
								li
									span(ng-click="getLineChartData('month','DeletePersona_CancelDelete','canceldelete')")  1M
								li
									span(ng-click="getLineChartData('sixmonths','DeletePersona_CancelDelete','canceldelete')")  6M
								li
									span(ng-click="getLineChartData('year','DeletePersona_CancelDelete','canceldelete')")  1Y
								li
									span(ng-click="getLineChartData('Max','DeletePersona_CancelDelete','canceldelete')")  Max
							svg(style='height: 380px;')